{% if todo.checklist is defined %}
<div class="checklist-container">
    {% if todo.checklist %}
    <ul class="checklist">
        {% for item in todo.checklist %}
        <li class="{{ 'checked' if item.checked else '' }}">
            <form action="{{ url_for('update_checklist_item', todo_id=todo.id, item_index=loop.index0) }}" method="post" class="checklist-item-form">
                <input type="checkbox" {{ 'checked' if item.checked else '' }} onchange="this.form.submit()">
                <span>{{ item.item }}</span>
            </form>
            <form action="{{ url_for('delete_checklist_item', todo_id=todo.id, item_index=loop.index0) }}" method="post" class="delete-item-form">
                <button type="submit" class="delete-btn-small">X</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="checklist-form" action="{{ url_for('add_checklist_item', todo_id=todo.id) }}" method="post">
        <input type="text" name="item" placeholder="Add checklist item..." required>
        <button type="submit">Add Item</button>
    </form>
</div>
{% endif %}
